#page-header {
  height: 200px;
  background: url('image.jpg');
  background-position: 54% 95%;
  background-attachment: fixed;
  color: #fff;
  padding-top: 60px;
  border-bottom: 1px solid #eee;
}

#main-footer {
  background: #343a40;
  color: #fff;
}
